.author {
    position:absolute;
    right:10%;
    width:30%;
    height:auto;
    z-index: 2;

    @media (max-width:$breakpoint_xl) {
        right: 2rem;
    }

    @media (max-width:$breakpoint_sm) {
        display: none;
    }
}
