.author {
    position: absolute;
    right: 10rem;
    bottom: 0;
    z-index: 2;

    @media (max-width:$breakpoint_xl) {
        right: 1rem;
    }

    @media (max-width:$breakpoint_sm) {
        display: none;
    }
}
