.circle {
    //position: absolute;
    ////bottom: 8rem;
    //z-index: 1;

    width: 400px;
    height: 400px;

    background: linear-gradient(to bottom, #771365, #060105);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
    border-radius: 50% 50% 47% 53% / 80% 31% 69% 20%;

    animation: circleRadius 12s alternate infinite;

    position: absolute;
    right: 5rem;
    bottom: 8rem;
    z-index: 1;

    //@media (max-width:$breakpoint_xl) {
    //    right: 0;
    //}

    @media (max-width:$breakpoint_sm) {
        display: none;
    }
}

@keyframes circleRadius {
    0% {
        border-radius: 50% 50% 47% 53% / 80% 31% 69% 20%;
        transform: translate3d(0, 0, 0);

    }

    50% {
        border-radius: 30% 70% 35% 65% / 67% 31% 69% 33%;
        transform: translate3d(-50px, -50px, 0);
    }

    100% {
        border-radius: 68% 32% 77% 23% / 18% 51% 49% 82%;
        transform: translate3d(-100px, -100px, 0);
    }
}
