.nav {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
}

.nav__link {
    padding: .3rem 1.5rem;
    margin-right: 1rem;

    color: $black;
    text-decoration: none;

    border-radius: 20px;

    transition: background .1s linear;

    &:hover {
        background-color: $gray;
    }

    &.active {
        color: $white;
        background-color: $pink;
    }

    @media (max-width:$breakpoint_sm) {
        margin-right: .5rem;
        font-size: .9rem;
    }
}
