<header class="header">
    <div class="container">
        <div class="header__inner">

            <div class="row header__row">
                <div class="col-lg-2">
                    <a class="logo" href="index.html"><span class="logo__prefix">YV</span>Stoyanidu</a>
                </div>

                <div class="col-lg-8">
                    <nav class="nav">
                        <a class="nav__link " href=".">Главная</a>
                        <a class="nav__link" href="services.html">Услуги</a>
                        <a class="nav__link" href="portfolio.html">Портфолио</a>
                    </nav>
                </div>


            </div><!--. row -->

        </div><!--/.header__inner -->
    </div><!--/.container -->
</header>
