 $white: #fff;
 $midnightblue: #191970;
 $black: #121212;
 $gray: #fafafa;
 $gray_dark: #a1a1a1;
 $radius: 10px;
 $radius_small: 5px;
 $shadow: 0 0 25px rgba(0, 0, 0, .05);
 $blue_dark: #15466a;
 $pink:#d02e62;

 $breakpoint_xl:1300px;
 $breakpoint_sm:575px;

 // Bootstrap Modal
 $modal-backdrop-bg: #0a1630;
 $modal-backdrop-opacity: .9;
